.navbar-top {
    background-color: purple;
}

.card ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card {
    cursor: pointer;
}

.card-body {
    padding: 0.5rem;
}

.card.hidden {
    background-color: #eee;
}

.card.hidden * {
    visibility: hidden;
}


li.marker {
    font-size: 0.85em;
}


.card {
    margin: 0 5px !important;
}
